* text=auto
*.sh text eol=lf
S90dns-monitor text eol=lf
*.go text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf

*.yml text eol=lf
*.yaml text eol=lf
*.svelte text eol=lf
*.json text eol=lf
package/modules/S* text eol=lf
packaging/modules/postinst text eol=lf
packaging/modules/prerm text eol=lf
packaging/modules/*.postinst text eol=lf
packaging/modules/*.prerm text eol=lf
packaging/modules/*.conf text eol=lf
