* text=auto
*.sh text eol=lf
*.go text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf

*.yml text eol=lf
*.yaml text eol=lf
*.svelte text eol=lf
*.json text eol=lf
components/*/packaging/S* text eol=lf
components/*/packaging/postinst text eol=lf
components/*/packaging/prerm text eol=lf
modules/*/packaging/S* text eol=lf
modules/*/packaging/postinst text eol=lf
modules/*/packaging/prerm text eol=lf
modules/*/packaging/*.conf text eol=lf
